html {
	background-color: rgb(255, 242, 254);
}

ul {
	list-style: none;
	max-height: 100%;
	margin: 0 auto;
	column-count: 5;
}

li {
	padding: 10px 0;
}

img {
	border-radius: 16px;
	display: block;
	max-width: 100%;
}